<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="EventStore" connectionString="Server=localhost;port=3306;UserId=root;Password=root;Database=eventstore;Charset=utf8;Old Guids=true;" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>